// Colours
$main-colour:		#9D8EEC; // purple-blue
$black: 			#000000; // black
$white:				#ffffff; // white

// Breakpoints
$bp-xs:				640px;
$bp-s: 				768px;
$bp-m: 				1024px;
$bp-l: 				1400px;
$bp-xl: 			1600px;


// Fonts
$site-font:			'Roboto', sans-serif;
$font-fallback:		Arial, sans-serif;
